#vidDiv {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  transform: scale(0.8);
}
video {
  border-radius: 25px;
  position: relative;
  bottom: 250px;
}

@media (max-width: 1024px) {
  #vidDiv {
    transform: scale(1);
    margin-top: 50px;
  }

  video {
    bottom: 100px;
    border-radius: 20px;
  }
}

@media (max-width: 768px) {
  video {
    width: 90%;
    bottom: 80px;
    border-radius: 18px;
  }
}

@media (max-width: 480px) {
  video {
    width: 95%;
    bottom: 60px;
    border-radius: 15px;
  }
}
  